<h1>Trac App</h1>
<p>Welcome to TrackerApp</p>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>

<div class="container mt-5">
  <h2><%= @yfs["meta"]["symbol"] %></h2>
  <% @yfs["body"].each do |yf| %>
    <ul>
      <li><%= yf[1]["date"] %> : <%= yf[1]["open"] %> : <%= yf[1]["high"] %> : <%= yf[1]["low"] %> : <%= yf[1]["close"] %></li>
    </ul>
  <% end %>
</div>